services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: mini
      POSTGRES_PASSWORD: mini
      POSTGRES_DB: ministripe
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
